
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left" 
                                                                                                                 onclick="goTo('../Home/Test')"><i class="fa fa-inbox">
                                                                                                                     </i>
                <span class="right-nav-text">
                الأخبار والتطورات
                       </span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr"><div class="pull-left"><i class="fa fa-briefcase"></i><span class="right-nav-text"> الرحلات  </span></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="ti  ti-ticket"></i><span class="right-nav-text"> الحجوزات </span></div><div class="pull-right"></i></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="widgets.html"><div class="pull-left"><i class="fa fa-building-o"></i><span class="right-nav-text"> الفنادق</span></div><div class="clearfix"></div></a>
        </li>
        <li><hr class="light-grey-hr mb-10" /></li>
        <li class="navigation-header">

            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="fa fa-calendar"></i><span class="right-nav-text"> تقويم</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></i></div><div class="clearfix"></div></a>
            <ul id="ui_dr" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="form-element.html">  تقويم </a>
                    <a href="form-element.html"> مناسبات</a>



                </li>

            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr"><div class="pull-left"><i class="fa fa-edit (alias)"></i><span class="right-nav-text"> الفواتير</span></div><div class="pull-right"></i></div><div class="clearfix"></div></a>
            <ul id="form_dr" class="collapse collapse-level-1 two-col-list">
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#chart_dr"><div class="pull-left"><i class="fa  fa-users"></i><span class="right-nav-text"> جهات اتصال</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i>   </i></div><div class="clearfix"></div></a>
            <ul id="chart_dr" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="flot-chart.html"> مكاتب</a>
                </li>
                <li>
                    <a href="echart.html"> افراد</a>
                </li>
                <li>
                    <a href="morris-chart.html"> الموردين</a>
                </li>


            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#table_dr"><div class="pull-left"><i class="fa  fa-gears (alias)"></i><span class="right-nav-text"> الاعدادات</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></i></div><div class="clearfix"></div></a>
            <ul id="table_dr" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="basic-table.html"> دول</a>
                </li>
                <li>
                    <a href="bootstrap-table.html"> مطارات</a>
                </li>
                <li>
                    <a href="data-table.html"> خطوط جوية</a>
                </li>
                <li>
                    <a href="export-table.html"> شروط</a>
                </li>
                <li>
                    <a href="responsive-data-table.html"> وجهات</a>
                </li>
                <li>
                    <a href="responsive-table.html"> مصرف</a>
                </li>
                <li>
                    <a href="editable-table.html"> بطائق إئتمان</a>
                </li>
                <li>
                    <a href="foo-table.html">وصلات إيصال</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#icon_dr"><div class="pull-left"><i class="fa fa-search"></i><span class="right-nav-text"> البحث</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="icon_dr" class="collapse collapse-level-1">
                <li>
                    <a href="fontawesome.html"> التذاكر</a>
                </li>
                <li>
                    <a href="themify.html"> رحلات</a>
                </li>
                <li>
                    <a href="linea-icon.html"> إيصالاتي</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#maps_dr"><div class="pull-left"><i class="zmdi zmdi-map mr-20"></i><span class="right-nav-text">خدمات</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="maps_dr" class="collapse collapse-level-1">
                <li>
                    <a href="vector-map.html"> رحلات</a>
                </li>
                <li>
                    <a href="google-map.html"> تذاكر</a>
                </li>
                <li>
                    <a href="#">تأشيرة</a>
                </li>
                <li>
                    <a href="#">تأمين</a>
                </li>
                <li>
                    <a href="#">عامة</a>
                </li>
            </ul>
        </li>
        <li><hr class="light-grey-hr mb-10" /></li>
        <li class="navigation-header">

            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#pages_dr"><div class="pull-left"><i class="ti ti-id-badge"></i><span class="right-nav-text"> تأشيرات</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="pages_dr" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="blank.html"> تأشيرات</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#auth_dr"> تأمين<div class="pull-right"></i></div><div class="clearfix"></div></a>
                    <ul id="auth_dr" class="collapse collapse-level-2">
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#invoice_dr">تذاكر<div class="pull-right"></div><div class="clearfix"></div></a>
                    <ul id="invoice_dr" class="collapse collapse-level-2">
                        <li>
                            <a href="invoice.html">Invoice</a>
                        </li>
                        <li>
                            <a href="invoice-archive.html">Invoice Archive</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#error_dr">بلوكات<div class="pull-right"></div><div class="clearfix"></div></a>
                    <ul id="error_dr" class="collapse collapse-level-2">
                    </ul>
                </li>
            </ul>
        </li>


        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#dropdown_dr_lv1"><div class="pull-left"><i class="zmdi zmdi-filter-list mr-20"></i><span class="right-nav-text"> الحسابات</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i>   </i></div><div class="clearfix"></div></a>
            <ul id="dropdown_dr_lv1" class="collapse collapse-level-1">
                <li>
                    <a href="#">cr notes </a>
                </li>
                <li>
                    <a href="#">d notes</a>
                </li>
                <li>
                    <a href="#">pur notes</a>
                </li>
                <li>
                    <a href="#">journals</a>
                </li>
                <li>
                    <a href="#">vouchers</a>
                </li>
                <li>
                    <a href="#">Acc stat</a>
                </li>

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#dropdown_dr_lv2">Customer<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                    <ul id="dropdown_dr_lv2" class="collapse collapse-level-2">
                        <li>
                            <a href="#">statment</a>
                        </li>
                        <li>
                            <a href="#">collection test</a>
                        </li>
                        <li>
                            <a href="#">advanced</a>
                        </li>
                        <li>
                            <a href="#">adv (<=2020)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#dropdown_dr_lv3">Supplier<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                    <ul id="dropdown_dr_lv3" class="collapse collapse-level-2">
                        <li>
                            <a href="#">statment</a>
                        </li>
                        <li>
                            <a href="#">trade payable</a>
                        </li>
                        <li>
                            <a href="#">trial balance</a>
                        </li>

                    </ul>
                <li>
                    <a href="#">Income</a>
                </li>
                <li>
                    <a href="#">collection</a>
                </li>
                <li>
                    <a href="#">extrnal rec</a>
                </li>
        </li>


    </ul>

</div>

<script>
    function goTo(url) {
        $('#main-content').load(url)
    }
</script>